<footer id="footer" class="clearfix">

	<div class="social-wrapper">
  	<% if (theme.social) { %>
      <% theme.social.forEach(function(value, key) {
           if (value.url && value.slug) { %>
        <a href="<%= value.url %>" class="social <%= value.slug %>"
          target="_blank" rel="external">
          <span class="icon icon-<%= value.slug %>"></span>
        </a>
      <% } }); %>
    <% } %>
  </div>

  
  <div><p>Views and opinions expressed on this blog represent my own and not those of my employer.</p></div>
  <div>Powered by <a href="http://hexo.io/" class="codename">Hexo</a> with theme <a href='https://github.com/stkevintan/hexo-theme-material-flow'>MaterialFlow</a></div>
  
</footer>

